In [1]:
#Installing Selenium to perform WEb scraping.
!pip install selenium

Requirement already satisfied: selenium in c:\users\harinath\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\harinath\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [2]:
#Importing required libraries to perform webscraping.
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.common.exceptions import  NoSuchElementException
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [3]:
#Chromedriver is a .exe file that your WebDriver interface uses to initiate the Google Chrome browser.
driver = webdriver.Chrome('Chromedriver.exe')

In [4]:
#driver.get(url) is used to open an url and loads the whole page. so below code used to open naukari web page.
url="https://www.naukri.com/"
driver.get(url)

In [5]:
# searching the “Data Analyst” in “Skill,Designations,Companies” field and  “Bangalore” in “enter the location” field.
#then clicking the search button using the respective tags

search_bar=driver.find_element_by_id('qsb-keyword-sugg')
search_bar.clear()
search_bar.send_keys('Data Analyst')
search_bar1=driver.find_element_by_id('qsb-location-sugg')
search_bar1.clear()
search_bar1.send_keys('Bangalore')
time.sleep(10)
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [6]:
#Creating empty list for storing the data.
name=[]
location=[]
company=[]
experience=[]

In [7]:
#Scraping the job details using for loop
for i in range(1):
    for j in driver.find_elements_by_xpath('//div[@class="info fleft"]/a'):
        name.append(j.text)
    for k in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        location.append(k.text)
    for m in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        company.append(m.text)
    for n in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
        experience.append(n.text)
    time.sleep(15)

In [8]:
#Checking  the length of each list of job details.
print(len(name),len(location),len(company),len(experience))

20 20 20 20

In [9]:
#Creating the DataFrame using pandas 
job={"Job title":name[:10]," Job-location":location[:10],"company_name":company[:10],'experience_required':experience[:10]}
df=pd.DataFrame(job)
df

,Job title,Job-location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
2,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
3,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
4,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs
5,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
6,Data analyst - Google Analytics,Bangalore/Bengaluru,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs
7,Senior/Regular Business Analyst / Data Analyst,Bangalore/Bengaluru,Luxoft,3-6 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
9,Hiring For Data Analyst @ Flipkart on Contract,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-6 Yrs

In [10]:
#Saving the dataframe as csv file.
df.to_csv('1.csv')

2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done

In [11]:
#Chromedriver is a .exe file that your WebDriver interface uses to initiate the Google Chrome browser.
driver = webdriver.Chrome('Chromedriver.exe')
#driver.get(url) is used to open an url and loads the whole page. so below code used to open naukari web page.
url="https://www.naukri.com/"
driver.get(url)

In [12]:
# searching the “Data Scientist” in “Skill,Designations,Companies” field and  “Bangalore” in “enter the location” field.
#then clicking the search button using the respective tags
search_bar=driver.find_element_by_id('qsb-keyword-sugg')
search_bar.clear()
search_bar.send_keys('Data Scientist')
search_bar1=driver.find_element_by_id('qsb-location-sugg')
search_bar1.clear()
search_bar1.send_keys('Bangalore')
time.sleep(10)
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [13]:
#creating empty list for storing the data
name=[]
location=[]
company=[]
job_desc=[]

In [14]:
# searching for each job using their respective urls to scrap the required details.
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [15]:
#scraping the job name,location,company using their respective tags. 
for i in range(1):
    for j in driver.find_elements_by_xpath('//div[@class="info fleft"]/a'):
        name.append(j.text)
    for k in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        location.append(k.text)
    for m in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        company.append(m.text)

In [16]:
print(len(name),len(location),len(company))

20 20 20

In [17]:
#scraping the job description. 
for url in urls[0:10]:
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_desc.append(description)
    except NoSuchElementException :
        job_desc.append("Not Available")
job_desc

["Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description\nWe wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.\n\nResponsibilities:\nDeliver as a part of our consultant team in driving high quality results on custom project work\nEnsure effective and timely delivery of project work\nWork towards understanding statistical models and deliver business insights and findings\nEnsure compliance to Marketing Mix Modeling modeling practices and company quality standards\nMaximize the efficient and effective use of resources by utilizing appropriate processes and tools\nTo build and maintain effective contacts with other departments to ensure the efficient and effective use of resources\nLiaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled\nWork with co/ third party modellers to deliver business insights and findings\n\nQualifications and Skills\n2-5 years of relevant experience\nMasters degree in Economics, Mathematics, Statistics, Engineering\nIn-depth understanding of statistical modeling techniques and applications\nGood and working knowledge of any statistical languages like SAS, R, Pythons\nSolid proficiency of decision making and problem resolution skills\nPassion for results with a challenger mindset\n\nAbout the Team:\nGlobal Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.\n\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaStrategy, Management Consulting, Corporate Planning\nEmployment TypeFull Time, Permanent\nRole CategoryCorporate Planning/Consulting/Strategy\nEducation\nPG :MBA/PGDM in Any Specialization, M.A in Economics, MS/M.Sc(Science) in Statistics, Maths\nKey Skills\nPredictive ModelingSASSegmentationK-MeansStatisticsOptimizationRandom ForestRMarketing Mix ModelingLinear RegressionStatistical ModelingBusiness InsightsMarket Research',
 'Not Available',
 'Job description\nResponsibilities and Key Result Areas\nDesign and develop project prototypes and solutions.\nParticipate in project estimation, planning and risk management activities\nIs responsible for delivering input in the planning process to the project leader\nEnsures that there is proper documentation for the developed solutions.\nEnsure compliance to the Quality Management System and regulatory requirements\nKey Technical Skills:\n4 - 7 yrs years of experience in data science\nDeveloped Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification,\ntree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nProficient and hands on experience in developing models using concepts of Artificial Intelligence,\nMachine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Scikit, Jupyter, MatLab etc.)\nExperience with containers like Docker is added advantage\nExperience in Sql\nWorking experience in agile/SAFe development methodologies\nSoft Skill set:\nFast learner. Ability to grasp key concepts quickly with minimal or no supervision\nGo-Getter Attitude. Ability to take ownership of team goals and deliver it with quality and within required timeline\nTeam Player attitude. Key characteristic of the individual who puts the team first before self.\nAbility to think out of box: Ability to come up with bright ideas and always looking at the next big thing in technology\nFlexible and willingness to stretch oneself when needed.\nRoleSoftware Developer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningdeep learningdata scienceArtificial IntelligenceMachine learningAgileHTMLRisk managementMATLABSQL',
 'Not Available',
 'Job description\n\n\nWe are seeking an outstanding Lead Data Scientist in AI/ML who will help our team continue to grow and bring high value to Intel. In this role you should demonstrate excellent problem formulation/definition skills in addition to technical skills. The ideal candidate should be:\n\nA professional role model with deep and wide expertise in state-of-the-art AI/ML techniques, a passion for solving challenging data science problems and extensive hands-on experience.\nBe detail-oriented and have an aptitude for solving unstructured problems. You should be excellent in coming up with different approaches to solve business problem using AI and evaluate the trade-off between them.\nBe self-directed, take charge of opportunities with business impact and drive them to completion.\nHave prior experience in guiding a team of data scientists, coaching and mentoring them.\nHave deep technical expertise in feature-engineering of massive datasets, effective exploratory data analysis, and model building using AI/ML techniques.\nBe a role model innovator by adapting new AI/ML modeling techniques and procedures.\nHave deep expertise in creation and management of datasets.\nHave excellent business and communication skills to be able to work with stakeholders like the business teams, engineering teams and partner teams and align them with respect to your focus area.\nHave the ability to manage and execute an entire AI project from start to finish, including problem solving, data gathering and manipulation, predictive modeling, and project management skills.\nBe a role-model in storytelling with data and articulating the AI problems in an understandable manner to senior leadership of the Business Units.\n\nYou will be a part of the large global AI/ML Research Scientist community and will have access to state-of-the-art training, tools, and methods of the domain.\n\n\nCandidates need to hold at least a masters degree (or higher) in Computer Science/Machine Learning/AI/Data Science\n8 years of relevant experience in building AI/ML models and in using Python (Scikit-learn, TensorFlow/Pytorch) and SQL (or equivalent).\nExperience in using data analysis techniques and ML methods like classification, regression pattern finding, clustering, dimensionality reduction, anomaly detection etc.\nExperience with Hadoop, Spark is an advantage\nDeep Knowledge of classical AI algorithms and Deep Learning techniques is a must.\nGreat analytical skills and demonstrated ability of independent and creative thinking.\nHighly motivated strong team player with the ability to work both independently and collaboratively within a team.\nHas strong analytical skills, including the abilities to scope out business problems to be solved, start from ambiguous problem statements, identify and access relevant data, make appropriate assumptions, perform insightful analysis and draw conclusions relevant to the business problem.\nAbility to present information professionally and concisely with supporting data.\nPrevious experience as a data scientist in semi-conductor industry or data intensive organizations is a plus.\nExperience in creating powerful data driven visualizations to describe ML modeling results to stakeholders.\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nComputer scienceData analysisFormulationArtificial IntelligenceMachine learningSignal processingPredictive modelingForecastingSQLPython',
 'Not Available',
 'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\n\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\nJob Title: Lead Data Scientist\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage\nRoleAnalytics Manager\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nRnnAlgorithmsLstmArtificial IntelligenceData ScientistBig DataData MiningStatistical AnalysisDeep LearningPython',

In [18]:
len(job_desc)

10

In [19]:
#Creating the DataFrame using pandas
job={"Job title":name[:10]," Job-location":location[:10],"company_name":company[:10],'Job_description':job_desc[:10]}
time.sleep(10)
df=pd.DataFrame(job)
df

,Job title,Job-location,company_name,Job_description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description\nWe wont say we can predict th...
2,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,Not Available
3,Specialist I - Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\nResponsibilities and Key Resu...
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,Not Available
5,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description\n\n\nWe are seeking an outstan...
6,Data Scientist,Bangalore/Bengaluru,Oracle India Pvt. Ltd.,Not Available
7,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
8,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
9,Hiring For DATA Scientist - ON Contract Basis ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",GlobalEdx Learning and Technology Solution Pvt...,"Job description\nDear Aspirant,\n\nGreetings f..."

In [20]:
#Saving the dataframe as csv file.
df.to_csv('2.csv')

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [21]:
#Chromedriver is a .exe file that your WebDriver interface uses to initiate the Google Chrome browser.
driver = webdriver.Chrome('Chromedriver.exe')
#driver.get(url) is used to open an url and loads the whole page. so below code used to open naukari web page.
url="https://www.naukri.com/"
driver.get(url)

In [22]:
#Enter the details in the search column and searching.
search_bar=driver.find_element_by_id('qsb-keyword-sugg')
search_bar.clear()
search_bar.send_keys('Data Scientist')
time.sleep(10)
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()
time.sleep(10)

In [24]:
# applying filter for job location
checkbox=driver.find_element_by_xpath(".//*[text()='Delhi / NCR']")
checkbox.click()
time.sleep(10)
# Let's create filter for salary
checkbox1=driver.find_element_by_xpath(".//*[text()='3-6 Lakhs']")
checkbox1.click()

In [25]:
# creating empty list for storing the data
name=[]
location=[]
company=[]
experience=[]

In [26]:
# scraping the job details using for loop
for i in range(1):
    for j in driver.find_elements_by_xpath('//div[@class="info fleft"]/a'):
        name.append(j.text)
    for k in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        location.append(k.text)
    for m in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        company.append(m.text)
    for n in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
        experience.append(n.text)
    time.sleep(10)

In [27]:
print(len(name),len(location),len(company),len(experience))

20 20 20 20

In [28]:
job={"Job title":name[:10]," Job-location":location[:10],"company_name":company[:10],'experience_required':experience[:10]}
time.sleep(5)
df=pd.DataFrame(job)
df

,Job title,Job-location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
3,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
4,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
7,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
8,Data Scientist,Noida,Blitz Jobs,3-5 Yrs
9,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs

In [29]:
df.to_csv('3.csv')

Using Selenium scraped the job-title, job-location, company_name, experience_required  for  first 10 jobs data of  “Data Scientist ” Job position by applying “Delhi/NCR” and "3-6 lakhs" filters and stored as a csv file.

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [30]:
# Chromedriver is a .exe file that your WebDriver interface uses to initiate the Google Chrome browser.
driver=webdriver.Chrome('chromedriver.exe')
#driver.get(url) is used to open an url and loads the whole page. so below code used to open glass door web page.
driver.get('https://www.glassdoor.co.in/index.htm')

In [32]:
#Enter the login details 
driver.maximize_window()
driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]').click()
time.sleep(10)
driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('harinathmallela7@gmail.com')
driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('glassdoor123')
time.sleep(5)
driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()

In [33]:
#Enter the details in the search column and searching.
search_bar=driver.find_element_by_id('sc.keyword')
search_bar.clear()
search_bar.send_keys('Data Scientist')
search_bar1=driver.find_element_by_id('sc.location')
search_bar1.clear()
time.sleep(5)
search_bar1.send_keys('Noida')
time.sleep(10)
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [34]:
# creating a list of urls per respective job. 
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="jobLink css-1rd3saf eigr9kq2"]'):
    urls.append(i.get_attribute('href'))

In [35]:
# creating an empty list to store details
job_title=[]
company_name=[]
rating=[]
days=[]

In [36]:
# scraping the webpage using tags to get job details
for i in range(1):
    for j in driver.find_elements_by_xpath('//a[@class="jobLink css-1rd3saf eigr9kq2"]/span'):
        job_title.append(j.text)
    for k in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]/span'):
        company_name.append(k.text) 
    for m in driver.find_elements_by_xpath('//div[@data-test="job-age"]'):
        days.append(m.text)

In [37]:
for url in urls[0:10]:
    
    try:
        driver.get(url)
        Rating=driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']").text.replace('\n','').replace('★','')
        rating.append(Rating)
    except NoSuchElementException :
        rating.append("Not Available")

In [38]:
job={"Job title":job_title[:10]," Company_name":company_name[:10],"rating":rating[:10],"days":days[:10]}
df=pd.DataFrame(job)
df

,Job title,Company_name,rating,days
0,Data Scientist,Amplify Analytix,Not Available,1d
1,Data Scientist II,Kroll,3.7,9d
2,Data Scientist,H&M,3.7,24h
3,Data Scientist,Wise Monk,Not Available,7d
4,Lead Analyst- Data Science,Infosys Limited,3.8,30d+
5,Data Scientist,,3.4,3d
6,Data Scientist,Applied Materials Inc.,4.0,30d+
7,Staff Data Scientist,General Electric,4.0,1d
8,Data Analytics Internship,MyPaisaa,5.0,5d
9,Data Scientist: Advanced Analytics,IBM,3.9,1d

In [39]:
#Using Selenium scraped the job-title, company_name, ratings and days ago posted  for  first 10 jobs data of  “Data Scientist ” Job position in NOIDA location in glassdoor stored as a csv file.
df.to_csv('4.csv')

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [41]:
#using chromedriver and driver.get to open and load a chrome page.
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [42]:
#maximizing the window
driver.maximize_window()

In [43]:
# selecting the search_bar using tags and entering details to search 
search_bar=driver.find_element_by_id('KeywordSearch')
search_bar.clear()
search_bar.send_keys('Data Scientist')
search_bar1=driver.find_element_by_id('LocationSearch')
time.sleep(5)
search_bar1.clear()
search_bar1.send_keys('Noida')
time.sleep(30)
search_button=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [44]:
# loging the website using below code
driver.find_element_by_xpath('//button[@type="button"]').click()
time.sleep(10)

driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('harinathmallela7@gmail.com')
driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('glassdoor123')
time.sleep(5)

driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()

In [45]:
# creating an empty list to store details
company_name=[]
total_salaries=[]
avg_salary=[]
min_salary=[]
max_salary=[]
rating=[]

In [46]:
# scrapping the page to get the details 
for i in driver.find_elements_by_xpath('//div[@data-test="job-info"]/p[2]'):
    company_name.append(i.text)
for i in driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]'):
    total_salaries.append(i.text)   
for i in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong'):
    avg_salary.append(i.text)
for i in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[1]'):
    min_salary.append(i.text)
for i in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[2]'):
    max_salary.append(i.text)

In [47]:
# scraping each job url
urls=[]
for i in driver.find_elements_by_xpath('//div[@class="undefined mr-sm"]/a'):
    urls.append(i.get_attribute('href'))

In [48]:
# scraping the ratings using urls 
for i in urls[1:11]:
    driver.get(i)
    driver.find_element_by_xpath('//a[@data-label="Reviews"]').click()
    time.sleep(3)
    Rating=driver.find_element_by_xpath("//div[@class='v2__EIReviewsRatingsStylesV2__ratingNum v2__EIReviewsRatingsStylesV2__large']").text
    rating.append(Rating)

rating

['4.0', '3.9', '4.1', '3.8', '3.6', '4.0', '4.0', '3.6', '3.9', '3.6']

In [49]:
print(len(company_name),len(total_salaries),len(avg_salary),len(min_salary),len(max_salary),len(rating))

20 20 20 20 20 10

In [50]:
# creating dataframe
job={"Company name":company_name[1:11],
     "Number of salaries":total_salaries[1:11],
     "Average salary":avg_salary[1:11],
     'min_salary':min_salary[1:11],
     'max_salary':max_salary[1:11],
    'Rating':rating}
df=pd.DataFrame(job)
df

,Company name,Number of salaries,Average salary,min_salary,max_salary,Rating
0,Accenture,14 salaries,"₹ 11,46,533",₹577K,"₹2,213K",4.0
1,IBM,14 salaries,"₹ 8,97,795",₹586K,"₹2,730K",3.9
2,Ericsson-Worldwide,14 salaries,"₹ 7,38,057",₹355K,"₹1,613K",4.1
3,Delhivery,14 salaries,"₹ 12,39,781",₹450K,"₹11,622K",3.8
4,UnitedHealth Group,11 salaries,"₹ 13,36,142","₹1,069K","₹1,520K",3.6
5,Valiance Solutions,9 salaries,"₹ 8,15,192",₹502K,"₹1,465K",4.0
6,ZS Associates,8 salaries,"₹ 11,35,221",₹202K,"₹1,809K",4.0
7,EXL Service,8 salaries,"₹ 11,44,243",₹575K,"₹1,520K",3.6
8,Optum Global Solutions,8 salaries,"₹ 14,13,288","₹1,014K","₹2,149K",3.9
9,Innovaccer,8 salaries,"₹ 12,07,110",₹620K,"₹1,695K",3.6

In [51]:
# saving csv file
df.to_csv('5.csv')

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [52]:
#using chromedriver and driver.get to open and load a chrome page.
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/')
driver.implicitly_wait(10)

In [53]:
# selecting the search_bar using tags and entering details to search 
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(10)

driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
time.sleep(10)
driver.find_element_by_xpath('//button[@type="submit"]').click()
time.sleep(10)

In [54]:
# creating an empty list to store details
brand_name=[]
description=[]
price=[]
discount=[]

In [55]:
# scraping details
next=0
while next<3:
    time.sleep(3)
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand_name.append(j.text)
    for k in driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]'):
        description.append(k.text)
    for m in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(m.text)
    for n in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        discount.append(n.text)
    if next==0:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    elif next==1:
        driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
    else:
        pass
    next+=1

In [56]:
# creating dataframe
df=pd.DataFrame({})
df['Product Brand']=brand_name[:100]
df['Product Description']=description[:100]
df['Price of Product']=price[:100]
df['Discount on Product']=discount[:100]

In [57]:
df

,Product Brand,Product Description,Price of Product,Discount on Product
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
1,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
2,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹250,84% off
...,...,...,...,...
95,AISLIN,UV Protection Oval Sunglasses (60),₹764,69% off
96,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
97,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹449,70% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹578,27% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499,75% off

In [58]:
# saving csv file
df.to_csv('6.csv')

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [59]:
#using chromedriver and driver.get to open and load a chrome page.
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
driver.implicitly_wait(10)

In [60]:
# creating an empty list to store details
rating=[]
review_summary=[]
full_review=[]

In [61]:
# exapnding the review section to get complete reviews
driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()
time.sleep(10)

In [62]:
# scraping the  required details
while (len(rating)<=100):
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        rating.append(j.text)
    for k in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        review_summary.append(k.text)
    for m in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
        full_review.append(m.text)
    
    time.sleep(5)
    driver.find_element_by_xpath("//span[contains(text(),'Next')]").click()
    time.sleep(5)

In [63]:
print(len(rating),len(review_summary),len(full_review))

108 110 110

In [65]:
# creating dataframe
review={"Rating":rating[0:100],"Review_summary":review_summary[0:100],"Full_review":full_review[0:100]}
df=pd.DataFrame(review)
df

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Not recommended at all,They are selling cheep quality items. There is...
96,5,Classy product,I write this review after using a week this iP...
97,5,Fabulous!,Everything is perfect pictures come out so cle...
98,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
99,5,Classy product,We are on apple ecosystem for almost eight yea...

In [66]:
#saving csv file
df.to_csv('7.csv')

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [67]:
#using chromedriver and driver.get to open and load a chrome page.
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/')
driver.implicitly_wait(10)

In [68]:
driver.maximize_window()

In [69]:
# selecting the search_bar using tags and entering details to search 
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(10)

driver.find_element_by_xpath('//div[@class="_3OO5Xc"]').click()
time.sleep(10)

driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
time.sleep(10)
driver.find_element_by_xpath('//button[@type="submit"]').click()
time.sleep(10)

In [70]:
# creating an empty list to store details
brand_name=[]
description=[]
price=[]
discount=[]

In [71]:
# Let's scrape the job details using loop
next=0
while next<3:
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand_name.append(j.text)
    for k in driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]'):
        description.append(k.text)
    for m in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(m.text)
    for n in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        discount.append(n.text)
    if next==0:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    elif next==1:
        driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
    else:
        pass
    next+=1   
        
    time.sleep(10)

In [72]:
# creating dataframe
df=pd.DataFrame({})
df['Product Brand']=brand_name[:100]
df['Product Description']=description[:100]
df['Price of Product']=price[:100]
df['Discount on Product']=discount[:100]

In [73]:
df

,Product Brand,Product Description,Price of Product,Discount on Product
0,Zorth,Sneakers For Men,₹599,40% off
1,Zorth,Sneakers For Men,₹599,40% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,Numenzo,Sneakers For Men,₹398,60% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
95,Svpanther,1002 Sneakers For Men,₹515,40% off
96,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹398,51% off
97,Zorth,Sneakers For Men,₹599,40% off
98,World Wear Footwear,Sneakers For Men,₹240,46% off
99,REEBOK CLASSICS,Reebok Clubonic Sneakers For Men,"₹1,799",76% off

In [74]:
#saving csv file
df.to_csv('8.csv')

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [75]:
# Let's load the drivers and URL
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.myntra.com/shoes')

In [76]:
driver.maximize_window()
#Let's apply filter for price
driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
time.sleep(3)    
#Let's apply filter for colour
driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
time.sleep(3)

In [77]:
# creating an empty list to store details
brand=[]
description=[]
price=[]

In [78]:
# scraping the webpage using below code
next=0
while next<3:
    for q in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(q.text)
        
    for q in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        description.append(q.text)
        
    for q in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(q.text)
    if next==0:
        driver.find_element_by_xpath('//li[@class="pagination-next"]').click()
    elif next==1:
        driver.find_element_by_xpath('//li[@class="pagination-next"]').click()
    else:
        pass
    next+=1 
    time.sleep(10)

In [79]:
print(len(brand),len(description),len(price))

150 150 150

In [80]:
# creating the DataFrame using pandas
job={"Brand":brand[:100],
     "Description":description[:100],
     "Price":price[:100]}
df=pd.DataFrame(job)
df

,Brand,Description,Price
0,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
1,ADIDAS Originals,Men Nite Jogger Fluid Sneakers,Rs. 8449Rs. 12999(35% OFF)
2,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
3,Cole Haan,Men ZEROGRAND GLOBAL SLIP ON,Rs. 14999Rs. 19999(25% OFF)
4,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
...,...,...,...
95,Puma,Unisex RS-Fast Sneakers,Rs. 9999
96,ALDO,Leather Solid Loafers,Rs. 14999
97,UNDER ARMOUR,Charged Intake 4 Running Shoes,Rs. 9999
98,ADIDAS,Men X9000L3 Heat.RDY Running,Rs. 9599Rs. 11999(20% OFF)
99,ADIDAS,Men Supernova Running Shoes,Rs. 7999Rs. 9999(20% OFF)

In [81]:
# splitting the price column data only to get the price figure. 
new_price=df['Price'].str.split("Rs.",n=2,expand=True)
df['Price in Rs']=new_price[1]

In [82]:
# droping price coloumn 
df.drop(columns=('Price'),axis=1,inplace=True)

In [83]:
df

               Brand                          Description Price in Rs
0               Nike            Men JORDAN DELTA Sneakers       10995
1   ADIDAS Originals       Men Nite Jogger Fluid Sneakers        8449
2          Cole Haan          Men Wingtip Oxford Sneakers       12999
3          Cole Haan         Men ZEROGRAND GLOBAL SLIP ON       14999
4          Cole Haan  Men GENERATION ZEROGRAND STITCHLITE       11999
..               ...                                  ...         ...
95              Puma              Unisex RS-Fast Sneakers        9999
96              ALDO                Leather Solid Loafers       14999
97      UNDER ARMOUR       Charged Intake 4 Running Shoes        9999
98            ADIDAS         Men X9000L3 Heat.RDY Running        9599
99            ADIDAS          Men Supernova Running Shoes        7999

[100 rows x 3 columns]

In [84]:
# saving csv file
df.to_csv('9.csv')

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop.
1. title
2. Ratings
3. Price

In [85]:
# using below code to open and load the chrome page
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.amazon.in/')

In [86]:
#searching for laptop product and then clicking search button
driver.maximize_window()
time.sleep(5)
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
driver.find_element_by_xpath('//input[@type="submit"]').click()

In [87]:
# applying  filter for "Intel Core i7"
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a').click()
time.sleep(5)

In [88]:
#creating the empty lists
Title=[]
rating=[]
Price=[]

In [89]:
#getting the list of url of laptops
URL=[]

laptop=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in laptop:
    laptop2=i.find_element_by_tag_name("a")
    URL.append(laptop2.get_attribute('href'))

In [90]:
#checking the length of url's
len(URL)

30

In [91]:
# scraping the details
for i in URL[0:10]:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath('//*[@id="productTitle"]').text
        Title.append(title)
    except NoSuchElementException:
        Title.append('Null')
        
    try:
        price=driver.find_element_by_xpath('//td[@class="a-span12"]/span').text
        Price.append(price)
    except NoSuchElementException:
        price1='NA'
        Price.append(price1)
    try:
        rat=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]').text
        rating.append(rat)
    except:
        rating.append('na')

In [92]:
# removing the selected filter of i7 laptop
driver.find_element_by_xpath('//input[@type="submit"]').click()

In [93]:
# applying filter for "Intel Core i9"
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()
time.sleep(5)

In [94]:
#getting the list of url of laptops
URL=[]

laptop=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in laptop:
    laptop2=i.find_element_by_tag_name("a")
    URL.append(laptop2.get_attribute('href'))

In [95]:
len(URL)

12

In [96]:
# scraping the details
for i in URL[0:10]:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath('//*[@id="productTitle"]').text
        Title.append(title)
    except NoSuchElementException:
        Title.append('Null')
        
    try:
        price=driver.find_element_by_xpath('//td[@class="a-span12"]/span').text
        Price.append(price)
    except NoSuchElementException:
        price1='NA'
        Price.append(price1)
    try:
        rat=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]').text
        rating.append(rat)
    except:
        rating.append('na')

In [97]:
#creating the DataFrame using pandas
product={"Title":Title,
     "Price":Price,
     "rating":rating}
df=pd.DataFrame(product)
df

,Title,Price,rating
0,Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...,"₹ 82,490.00",3.9 out of 5
1,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,"₹ 83,990.00",3.2 out of 5
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"₹ 53,999.00",4.4 out of 5
3,"Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14""...","₹ 97,990.00",na
4,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","₹ 3,43,099.00",4.2 out of 5
5,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","₹ 1,35,490.00",4.3 out of 5
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹ 29,990.00",3.1 out of 5
7,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹ 24,990.00",2.6 out of 5
8,Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...,"₹ 69,990.00",3 out of 5
9,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,"₹ 46,290.00",3 out of 5
10,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"₹ 2,99,325.00",3.8 out of 5
11,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...","₹ 4,13,890.00",3.7 out of 5
12,ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...,"₹ 2,79,990.00",3.8 out of 5
13,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...","₹ 2,49,990.00",2.4 out of 5
14,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,"₹ 2,62,990.00",3.7 out of 5
15,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...","₹ 2,66,990.00",na
16,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...","₹ 2,77,639.00",4.8 out of 5
17,(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,"₹ 1,89,900.00",na
18,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,"₹ 2,00,690.00",3.4 out of 5
19,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,"₹ 3,45,800.00",4.5 out of 5

In [98]:
# saving csv file
df.to_csv('10.csv')